.root {
    padding: 2rem;
}

h5 {
    color: #000;
}

.greenBadge {
    color: var(--green-60) !important;
    background: var(--green-10) !important;
}

.redBadge {
    color: var(--red-60) !important;
    background: var(--red-10) !important;
}

.dashboardHeader {
    padding: 20px 5px;
    background: var(--blue-color2) !important;
    margin: 1rem auto;
}

.dashboardBackground {
    margin: 20px;
    padding: 10px;
    background: #fff;
}

.root > h1 {
    left: 50%;
    margin: auto;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.root > div:nth-child(2) {
    margin-top: 30px;
}

.dashboardCollaps {
    background-color: #ffffff;
    margin: 0 12px;
}

.periodeRight {
    text-align: left;
}

.hidden {
    display: none;
}
@media only screen and (max-width: 48em) {
    .root {
        padding: 1rem;
    }
}

.collapseableContent {
    display: flex;
    justify-content: space-between;
}
